@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 27% 91%;
    --foreground: 37 14% 16%;
    --card: 0 0% 100%;
    --card-foreground: 37 14% 16%;
    --popover: 0 0% 100%;
    --popover-foreground: 37 14% 16%;
    --primary: 30 20% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 36 20% 88%;
    --secondary-foreground: 37 14% 16%;
    --muted: 36 20% 83%;
    --muted-foreground: 37 12% 40%;
    --accent: 33 24% 53%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 36 20% 83%;
    --input: 36 20% 83%;
    --ring: 30 20% 53%;
    --radius: 0.5rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 37 14% 16%;
    --sidebar-primary: 30 20% 53%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 36 27% 91%;
    --sidebar-accent-foreground: 37 14% 16%;
    --sidebar-border: 36 20% 83%;
    --sidebar-ring: 30 20% 53%;
  }

  .dark {
    --background: 37 14% 10%;
    --foreground: 36 27% 91%;
    --card: 37 14% 12%;
    --card-foreground: 36 27% 91%;
    --popover: 37 14% 10%;
    --popover-foreground: 36 27% 91%;
    --primary: 30 20% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 37 14% 15%;
    --secondary-foreground: 36 27% 91%;
    --muted: 37 14% 20%;
    --muted-foreground: 35 11% 65%;
    --accent: 30 20% 53%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 37 14% 20%;
    --input: 37 14% 20%;
    --ring: 30 20% 53%;

    --sidebar-background: 37 14% 10%;
    --sidebar-foreground: 36 27% 91%;
    --sidebar-primary: 30 20% 53%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 37 14% 15%;
    --sidebar-accent-foreground: 36 27% 91%;
    --sidebar-border: 37 14% 20%;
    --sidebar-ring: 30 20% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .story-gradient-ring {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  }
}
